################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*/bin/
*/obj/
/WebCLI.Core/bin/
/WebCLI.Core/obj/
/WebCLI.Core.Tests/bin/
/WebCLI.Core.Tests/obj/
/TestResults/

