################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
/bin/
/obj/
/WebCLI.Core/bin/Debug/net7.0/WebCLI.Core.deps.json
/WebCLI.Core/bin/Debug/net7.0/WebCLI.Core.dll
/WebCLI.Core/bin/Debug/net7.0/WebCLI.Core.pdb
/WebCLI.Core/bin/Debug/net8.0/WebCLI.Core.deps.json
/WebCLI.Core/bin/Debug/net8.0/WebCLI.Core.dll
/WebCLI.Core/bin/Debug/net8.0/WebCLI.Core.pdb
/WebCLI.Core/obj/Debug/net7.0/ref/WebCLI.Core.dll
/WebCLI.Core/obj/Debug/net7.0/refint/WebCLI.Core.dll
/WebCLI.Core/obj/Debug/net7.0/WebCLI.Core.AssemblyInfo.cs
/WebCLI.Core/obj/Debug/net7.0/WebCLI.Core.AssemblyInfoInputs.cache
/WebCLI.Core/obj/Debug/net7.0/WebCLI.Core.csproj.CoreCompileInputs.cache
/WebCLI.Core/obj/Debug/net7.0/WebCLI.Core.csproj.FileListAbsolute.txt
/WebCLI.Core/obj/Debug/net7.0/WebCLI.Core.dll
/WebCLI.Core/obj/Debug/net7.0/WebCLI.Core.pdb
/WebCLI.Core/obj/Debug/net7.0/WebCLI.Core.sourcelink.json
/WebCLI.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/WebCLI.Core/obj/Debug/net8.0/ref/WebCLI.Core.dll
/WebCLI.Core/obj/Debug/net8.0/refint/WebCLI.Core.dll
/WebCLI.Core/obj/Debug/net8.0/WebCLI.Core.AssemblyInfo.cs
/WebCLI.Core/obj/Debug/net8.0/WebCLI.Core.AssemblyInfoInputs.cache
/WebCLI.Core/obj/Debug/net8.0/WebCLI.Core.assets.cache
/WebCLI.Core/obj/Debug/net8.0/WebCLI.Core.csproj.CoreCompileInputs.cache
/WebCLI.Core/obj/Debug/net8.0/WebCLI.Core.csproj.FileListAbsolute.txt
/WebCLI.Core/obj/Debug/net8.0/WebCLI.Core.dll
/WebCLI.Core/obj/Debug/net8.0/WebCLI.Core.GeneratedMSBuildEditorConfig.editorconfig
/WebCLI.Core/obj/Debug/net8.0/WebCLI.Core.pdb
/WebCLI.Core/obj/Debug/net8.0/WebCLI.Core.sourcelink.json
/WebCLI.Core/obj/project.assets.json
/WebCLI.Core/obj/project.nuget.cache
/WebCLI.Core/obj/Release/net7.0/WebCLI.Core.AssemblyInfo.cs
/WebCLI.Core/obj/Release/net7.0/WebCLI.Core.AssemblyInfoInputs.cache
/WebCLI.Core/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/WebCLI.Core/obj/Release/net8.0/WebCLI.Core.AssemblyInfo.cs
/WebCLI.Core/obj/Release/net8.0/WebCLI.Core.AssemblyInfoInputs.cache
/WebCLI.Core/obj/Release/net8.0/WebCLI.Core.assets.cache
/WebCLI.Core/obj/Release/net8.0/WebCLI.Core.GeneratedMSBuildEditorConfig.editorconfig
/WebCLI.Core/obj/WebCLI.Core.csproj.nuget.dgspec.json
/WebCLI.Core.Tests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_WebCLI.Core.Tests
/WebCLI.Core.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_WebCLI.Core.Tests
/WebCLI.Core.Tests/bin/Release/net8.0/.msCoverageSourceRootsMapping_WebCLI.Core.Tests
/WebCLI.Core.Tests/bin/Release/net8.0/CoverletSourceRootsMapping_WebCLI.Core.Tests
/WebCLI.Core.Tests/obj/Debug/net6.0/WebCLI.Core.Tests.AssemblyInfo.cs
/WebCLI.Core.Tests/obj/Debug/net6.0/WebCLI.Core.Tests.AssemblyInfoInputs.cache
/WebCLI.Core.Tests/obj/Debug/net6.0/WebCLI.Core.Tests.assets.cache
/WebCLI.Core.Tests/obj/Debug/net6.0/WebCLI.Core.Tests.csproj.AssemblyReference.cache
/WebCLI.Core.Tests/obj/Debug/net6.0/WebCLI.Core.Tests.csproj.FileListAbsolute.txt
/WebCLI.Core.Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/WebCLI.Core.Tests/obj/Debug/net8.0/WebCLI.Core.Tests.AssemblyInfo.cs
/WebCLI.Core.Tests/obj/Debug/net8.0/WebCLI.Core.Tests.AssemblyInfoInputs.cache
/WebCLI.Core.Tests/obj/Debug/net8.0/WebCLI.Core.Tests.assets.cache
/WebCLI.Core.Tests/obj/Debug/net8.0/WebCLI.Core.Tests.csproj.AssemblyReference.cache
/WebCLI.Core.Tests/obj/Debug/net8.0/WebCLI.Core.Tests.csproj.CoreCompileInputs.cache
/WebCLI.Core.Tests/obj/Debug/net8.0/WebCLI.Core.Tests.csproj.FileListAbsolute.txt
/WebCLI.Core.Tests/obj/Debug/net8.0/WebCLI.Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
/WebCLI.Core.Tests/obj/Debug/net8.0/WebCLI.Core.Tests.GlobalUsings.g.cs
/WebCLI.Core.Tests/obj/Debug/net8.0/WebCLI.Core.Tests.sourcelink.json
/WebCLI.Core.Tests/obj/project.assets.json
/WebCLI.Core.Tests/obj/project.nuget.cache
/WebCLI.Core.Tests/obj/Release/net6.0/WebCLI.Core.Tests.AssemblyInfo.cs
/WebCLI.Core.Tests/obj/Release/net6.0/WebCLI.Core.Tests.AssemblyInfoInputs.cache
/WebCLI.Core.Tests/obj/Release/net6.0/WebCLI.Core.Tests.assets.cache
/WebCLI.Core.Tests/obj/Release/net6.0/WebCLI.Core.Tests.csproj.AssemblyReference.cache
/WebCLI.Core.Tests/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/WebCLI.Core.Tests/obj/Release/net8.0/WebCLI.Core.Tests.AssemblyInfo.cs
/WebCLI.Core.Tests/obj/Release/net8.0/WebCLI.Core.Tests.AssemblyInfoInputs.cache
/WebCLI.Core.Tests/obj/Release/net8.0/WebCLI.Core.Tests.assets.cache
/WebCLI.Core.Tests/obj/Release/net8.0/WebCLI.Core.Tests.csproj.AssemblyReference.cache
/WebCLI.Core.Tests/obj/Release/net8.0/WebCLI.Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
/WebCLI.Core.Tests/obj/Release/net8.0/WebCLI.Core.Tests.GlobalUsings.g.cs
/WebCLI.Core.Tests/obj/WebCLI.Core.Tests.csproj.nuget.dgspec.json
/WebCLI.Core.Tests/obj/WebCLI.Core.Tests.csproj.nuget.g.props
/WebCLI.Core.Tests/obj/WebCLI.Core.Tests.csproj.nuget.g.targets
